{% extends "base.html" %} {% load static %} {% block content %}
{% include "modals/modal_allowed_viewers.html" %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="navbars">
                    <br>Project Name: {{ project.project_name }}
                    <small class="float-sm-right">
                        Completion: {{ percentage.percentage }}%
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <div class="card border-primary mb-4">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Project Owner: </strong>{{ project.project_owner }}
                        <br>
                        <strong>Project Created: </strong>{{ project.project_created }}
                        <br>
                        <strong>Project Description: </strong>{{ project.project_description }}
                        <br>
                        <strong>Project Level: </strong>{{ project.project_level }}
                        <br>
                        <strong>Complete: </strong>{{ percentage.enabled }} / {{ percentage.total }}
                        <br>
                    </p>
                    Download Project:
                    <a href="{% url 'projectsdownload' projectid=project.project_id %}" title="Download Project">
                        <i class="fas fa-file-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <div class="card border-primary mb-4">
                <div class="card-body">
                    <div class="radial-progress" id="docsChart" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="{% url 'projectsupdate' %}" method="POST" role="form" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="projectid" value="{{ project.project_id }}" />
                <div class="card border-primary mb-4">
                    <div class="card-header">Requirements
                        <small class="float-sm-right">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </small>

                    </div>
                    <div class="card-body">
                        <div id="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="project-results" class="table table-striped table-bordered dataTable"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Requirement</th>
                                        <th>Complete</th>
                                        <th>Incomplete</th>
                                        <th>N/A</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                    <tr>
                                        {% if "Architecture" in d.Name %}
                                        <td style="background-color:#F6C2AE">{{ d.Name }}</td>
                                        {% else %}
                                                {% if "Authentication" in d.Name %}
                                                <td style="background-color:#AEF6EE">{{ d.Name }}</td>
                                                {% else %}
                                                    {% if "Session" in d.Name %}
                                                            <td style="background-color:#AECEF6">{{ d.Name }}</td>
                                                    {% else %}
                                                        {% if "Access" in d.Name %}
                                                            <td style="background-color:#F5F6AE">{{ d.Name }}</td>
                                                        {% else %}  
                                                            {% if "Validation" in d.Name %}
                                                                <td style="background-color:#97E995">{{ d.Name }}</td>
                                                            {% else %}  
                                                                {% if "Cryptography" in d.Name %}
                                                                    <td style="background-color:#7CC4A5">{{ d.Name }}</td>
                                                                {% else %}  
                                                                    {% if "Error" in d.Name %}
                                                                        <td style="background-color:#FF8282">{{ d.Name }}</td>
                                                                    {% else %}  
                                                                        {% if "Data" in d.Name %}
                                                                            <td style="background-color:#C290BA">{{ d.Name }}</td>
                                                                        {% else %}  
                                                                            {% if "Communications" in d.Name %}
                                                                                <td style="background-color:#6986A0">{{ d.Name }}</td>
                                                                            {% else %}  
                                                                                {% if "Malicious" in d.Name %}
                                                                                    <td style="background-color:#AFBA7F">{{ d.Name }}</td>
                                                                                {% else %}  
                                                                                    {% if "BusLogic" in d.Name %}
                                                                                        <td style="background-color:#FFB962">{{ d.Name }}</td>
                                                                                    {% else %}  
                                                                                        {% if "Files" in d.Name %}
                                                                                            <td style="background-color:#73E2D7">{{ d.Name }}</td>
                                                                                        {% else %}  
                                                                                            {% if "API" in d.Name %}
                                                                                                <td style="background-color:#80DAAD">{{ d.Name }}</td>
                                                                                            {% else %}  
                                                                                                <td style="background-color:#C7ABDD">{{ d.Name }}</td>
                                                                                            {% endif %} 
                                                                                        {% endif %} 
                                                                                    {% endif %} 
                                                                                {% endif %} 
                                                                            {% endif %} 
                                                                        {% endif %} 
                                                                    {% endif %} 
                                                                {% endif %} 
                                                            {% endif %}    
                                                        {% endif %}    
                                                    {% endif %}        
                                                {% endif %}
                                            

                                        {% endif %}
                                        <td id="description">{{ d.Description }}</td>
                                        <td>
                                            {% if d.enabled > 0 %}
                                                <input type="checkbox" id="{{ d.Item }}enabled"  name="{{ d.Item }}enabled" onclick="uncheckOthers('{{ d.Item }}enabled')" value="1" checked="true">
                                            {% else %}
                                                <input type="checkbox" id="{{ d.Item }}enabled" name="{{ d.Item }}enabled" onclick="uncheckOthers('{{ d.Item }}enabled')" value="0">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if d.disabled > 0 %}
                                                <input type="checkbox" id="{{ d.Item }}disabled" name="{{ d.Item }}disabled" onclick="uncheckOthers('{{ d.Item }}disabled')"value="1" checked="true">
                                            {% else %}
                                                <input type="checkbox" id="{{ d.Item }}disabled" name="{{ d.Item }}disabled" onclick="uncheckOthers('{{ d.Item }}disabled')" value="0"   >
                                            {% endif %}
                                        </td>
                                         
                                        <td>
                                            {% if d.enabled == 0 and  d.disabled == 0 %}
                                                <input type="checkbox"  id="{{ d.Item }}na" name="{{ d.Item }}na" onclick="uncheckOthers('{{ d.Item }}na')" value="1" checked="true">
                                            {% elif not d.enabled and not d.disabled%}
                                                <input type="checkbox"  id="{{ d.Item }}na" name="{{ d.Item }}na" onclick="uncheckOthers('{{ d.Item }}na')" value="1" checked="true">
                                            {% else %}
                                                <input type="checkbox" id="{{ d.Item }}na" name="{{ d.Item }}na" onclick="uncheckOthers('{{ d.Item }}na')" value="0"  >
                                            {% endif %}
                                        </td>
                                         
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <small class="float-sm-right">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </small>
                    </div>
                </div>
            </form>
            <a href="{% url 'generate_pdf' projectid=project.project_id %}" style="margin-bottom: 30px; text-align: center;"><button style="margin-bottom: 30px;" class="btn" id="pdfreport" style="background-color:#dd4b39; color:white">PDF Report</button></a>
            {% if user.is_authenticated and user.is_two_factor_enabled and user.is_superuser %}
            <button style="margin-bottom: 30px; text-align: center;" class="btn js-allowed-users" id="allowedusers" title="Change allowed users" >Modify Allowed Users</button>
            {% endif %}
            <br>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".js-allowed-users").click(function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#modalallowedusers").modal("show");
                },
                success: function (data) {
                $("#modalallowedusers .modal-content").html(data.html_form);
                }
            });
        });
    });


    //Get data
    var table = document.getElementById("project-results");
    var rows = table.getElementsByTagName("tr");
    var completion={}
    for(var i=0;i<rows.length;i++){
        if (rows[i].getElementsByTagName("td")){
            if (rows[i].getElementsByTagName("td")[0]){
                if (rows[i].getElementsByTagName("td")[0].innerText){
                    var cat=rows[i].getElementsByTagName("td")[0].innerText
                    if  (completion[cat]){ //If already exists on dict
                        completion[cat]['total']=completion[cat]['total']+1
                        if (rows[i].getElementsByTagName("td")[2].getElementsByTagName('input')[0].value=="1"){
                            completion[cat]['checked']=completion[cat]['checked']+1 
                        }                       
                    }
                    else{ //If this category still doesnt exist on our dict
                        completion[cat]={}
                        completion[cat]['total']=1
                        completion[cat]['colour']=rows[i].getElementsByTagName("td")[0].style.backgroundColor
                        if (rows[i].getElementsByTagName("td")[2].getElementsByTagName('input')[0].value=="1"){
                            completion[cat]['checked']=1
                        }
                        else{
                            completion[cat]['checked']=0
                        }
                    }
                }
            }    
        }
        if (rows[i].getElementsByTagName("td")[1]){
            rows[i].getElementsByTagName("td")[1].innerHTML= urlify(rows[i].getElementsByTagName("td")[1].innerText) 
        }
    }

    //Draw Circles
    for (c in completion){

        var width = 135,
        height = 135,
        twoPi = 2 * Math.PI,
        
        allocated = completion[c]['checked'],
        total = completion[c]['total'],
        progress = allocated/total
        formatPercent = d3.format(".0%");

        var arc = d3.arc()
            .startAngle(0)
            .innerRadius(52)
            .outerRadius(66);

        var svg = d3.select("#docsChart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("x", 0)
            .attr("y", 0)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var meter = svg.append("g")
            .attr("class", "funds-allocated-meter");

        meter.append("path")
            .attr("class", "background")
            .attr("d", arc.endAngle(360));

        var foreground = meter.append("path")
            .attr("class", "foreground")
            .attr("style","fill:"+completion[c]['colour'])
            .attr("d", arc.endAngle(twoPi * progress));
            
        var percentComplete = meter.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "percent-complete")
            .attr("dy", "0em")
            .text(formatPercent(progress));

        var description = meter.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "description")
            .attr("dy", "2.3em")
            .text(c.replace(" Verification Requirements","").replace(", Sanitization and Encoding","").replace(" and Logging Verification Requirements","").replace(" and Logging","").replace("Architecture, Design and Threat Modeling Requirements","Architecture & Design"));
      

        
    }
    function uncheckOthers(itemcheckbox){
        var item = itemcheckbox.replace("enabled","").replace("disabled","").replace("na","")
        var enablecheckbox= document.getElementById(item+"enabled")
        var disablecheckbox= document.getElementById(item+"disabled")
        var nacheckbox= document.getElementById(item+"na")

       
        document.getElementById(itemcheckbox).setAttribute("checked","true")
        document.getElementById(itemcheckbox).checked=true
        document.getElementById(itemcheckbox).value=1

        if (item+"disabled" != itemcheckbox){
            disablecheckbox.setAttribute("checked","false")
            disablecheckbox.checked=false
            disablecheckbox.value=0
        }
        if (item+"enabled" != itemcheckbox){
            enablecheckbox.setAttribute("checked","false")
            enablecheckbox.checked=false
            enablecheckbox.value=0
        }
        if (item+"na" != itemcheckbox){
            nacheckbox.setAttribute("checked","false")
            nacheckbox.checked=false
            nacheckbox.value=0
        }

    }

    function urlify(text) {
        var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

        return text.replace(urlRegex, function(url) {
            return '<a href="' + url + '">' + url + '</a>';
        })
    } 

</script>

{% endblock content %}
