Django==5.2.14
gunicorn==26.0.0
whitenoise==6.12.0
django-crispy-forms==2.6
crispy-bootstrap3==2024.1
reportlab==4.5.1
django-otp==1.7.0
djangorestframework==3.16.1
djangorestframework-jsonapi==8.1.0
PyYAML==6.0.3
ua-parser>=1.0,<2
user-agents>=2.2,<3
requirements-parser>=0.11,<1
psycopg2-binary==2.9.12
