.masthead{
    height:50px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color: #FFFFFF;
}

/* Misc
-------------------------------------------------- */
.mono {
    font-family: monospace;
}

.top-buffer { margin-top:20px; }

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
    .collapse:not(.show) {
        display:block;
    }

    
    .row{
       display: -webkit-inline-box; 
    }
}
.row:before, .row:after {display: none !important;}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.btn-custom {
    padding: 10px 1000px 10px 20px;
}

.funds-allocated-meter .background  {
    fill: #E6E7E8;
}

.description {
    font-family: 'Roboto Condensed',      sans-serif;
    font-size: 14px;
    fill: #008cba !important;
}

.funds-allocated-meter{
    cursor: pointer;
}
  
.percent-complete {
    font-family: 'Roboto Condensed',      sans-serif;
    font-size: 20px;
    fill: #008cba !important;
}

.page-header{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #008cba
}

.levels-box{
    background: #F1F1F1;
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    margin-left:auto;
    margin-right: auto;
    border-radius: 25px;
}
#level-card:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
}

#card-level{
    flex-direction: row;
}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }
  
progress::-webkit-progress-bar {
    background:rgb(219, 217, 217);
    border-radius: 50px;
  }
  progress::-webkit-progress-value {  
    background-color: var(--c,blue);
  }

#wrapper{
    font-family: 'SantanderTextW05-Regular'
} 
