<div class="modal fade" id="modalchangeusername"  role="dialog" aria-labelledby="modalchangeusername" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">      
                <h4 class="modal-title" id="modaliphostslabel">Change username:</h4>
            </div>
            <form role="form" method="post" action="{% url 'modify_username' %}" class="js-username-change-form">
                {% csrf_token %}             
                <div class="modal-body">
                  <div id="div_id_new_username1" class="form-group {% if form.new_username1.errors %} has-error{% endif %}">
                      <label for="id_new_username1" class="control-label requiredField">New username<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="username" name="new_username1" class="textinput textInput form-control" minlength="1"  required="" id="id_new_username1" autocomplete="off" maxlength="128">                                   
                          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                      </div>
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary js-username-change-button">Change My username</button>
                </div>
              </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var code = document.getElementById("id_new_username1");
    
    var strengthbar = document.getElementById("meter");
    var security_level = document.getElementById("security_level");
    
    code.addEventListener("keyup", function() {
      checkusername(code.value);
    });
    
    
    function checkusername(username) {
      var strength = 0;
      if (username.match(/[a-z]+/)) {
        strength += 1;
      }
      if (username.match(/[A-Z]+/)) {
        strength += 1;
      }
      if (username.match(/[0-9]+/)) {
        strength += 1;
      }
      if (username.match(/[$@#&!]+/)) {
        strength += 1;
    
      }
    
      if (username.length < 12) {
        security_level.innerHTML = "Minimum number of characters is 12";
        strengthbar.value = 0;
      }
      else {
      switch (strength) {
        case 0:
          strengthbar.value = 0;
          security_level.innerHTML= "Security Level: None"
          break;
    
        case 1:
          strengthbar.value = 25;
          security_level.innerHTML= "Security Level: Very Low"
          break;
    
        case 2:
          strengthbar.value = 50;
          security_level.innerHTML= "Security Level: Low"
          break;
    
        case 3:
          strengthbar.value = 75;
          security_level.innerHTML= "Security Level: Medium"
          break;
    
        case 4:
        security_level.innerHTML= "Security Level: High"
          strengthbar.value = 100;
          break;
      }
      }
      
    }
    
    $('#id_new_username1').keyup(function(){
      $("#usernamecheck").attr('value', 'false');
      $("#usernamecheck").prop('checked', false); 
    });
    
  $('#check_username').click(function() {
    var hashed_username= CryptoJS.SHA1(code.value);

    $.ajax({
    type:"GET",
    url: "https://exposed.notrust.eu/v1/hash/"+ hashed_username,
    beforeSend: function(xhr) {
      xhr.setRequestHeader( 'accept','application/json')
      xhr.setRequestHeader('X-eXposed-APIKey', '8fdd8329-f769-448f-92f6-c39ebd2f17bc');
    },
    success: function(data) {
      if (data == 0){
        $("#usernamecheck").attr('value', 'true');
        $("#usernamecheck").prop('checked', true);
        $("#check_username_message").html("<h5> No match found </h5>")
      }
      else{
        $("#usernamecheck").attr('value', 'false');
        $("#usernamecheck").prop('checked', false);
        $("#check_username_message").html("<h5> Match found </h5>")
      }
    
      
    },
    contentType : "application/json"
    });
  })
    
</script>