<div class="modal fade" id="modalchangepassword"  role="dialog" aria-labelledby="modalchangepassword" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">      
                <h4 class="modal-title" id="modaliphostslabel">Change Password:</h4>
            </div>
            <form role="form" method="post" id="passwordchangeform" action="{% url 'modify_password' %}" class="js-password-change-form">
                {% csrf_token %}             
                <div class="modal-body">
                  <div id="div_id_old_password" class="form-group {% if form.old_password.errors %} has-error{% endif %}">
                      <label for="id_old_password" class="control-label requiredField">Old Password<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="old_password" class="textinput textInput form-control" required="" id="id_old_password" autocomplete="off">
                          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                          {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                              <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                          {% else %}
                          {% endif %}
                      </div>
                  </div>
                  <div id="div_id_password1" class="form-group {% if form.password1.errors %} has-error{% endif %}">
                      <label for="id_password1" class="control-label requiredField">New Password<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="password1" class="textinput textInput form-control" minlength="8"  required="" id="id_password1" autocomplete="off" minlength="12" maxlength="128">
                          <progress max="100" value="0" id="meter"></progress><div id="security_level"></div>                
                          <div>Is it a valid password?<span class="asteriskField">*</span><input type="checkbox" id="passwordcheck" value="false" required="required" onclick="return false;"/></div>
                          <div>Is it a passphrase?<input type="checkbox" id="passphrasecheck" value="false"  onclick="return false;"/></div>
                          <div class="wrapper" id="password_errors">                                              
                          <p id="hint_id_password1" class="help-block"></p><ul><li>We don't advise using personal information</li><li>Passphrases are amazing (and easy to remember too)</li><li>We check to see if your password has already been cracked (via password breaches)</li><li>Use a different passphrase for every site.</li></ul><p></p>
                          </div> 
                          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                          
                      </div>
                  </div>
                  <div id="div_id_password2" class="form-group {% if form.password2.errors %} has-error{% endif %}">
                      <label for="id_password2" class="control-label  requiredField">New Password confirmation<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="password2" class="textinput textInput form-control" required="" id="id_password2" autocomplete="off" minlength="12" maxlength="128">
                          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                          {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                              <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                          {% else %}
                            <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p>
                          {% endif %}
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="submitbutton" type="submit" class="btn btn-primary js-password-change-button" disabled>Change My Password</button>
                </div>
              </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://rawgit.com/nowsecure/owasp-password-strength-test/master/owasp-password-strength-test.js"></script>
<script>
  var code = document.getElementById("id_password1");
  
  var strengthbar = document.getElementById("meter");
  var security_level = document.getElementById("security_level");

  code.addEventListener("keyup", function() {
  var result = owaspPasswordStrengthTest.test(this.value);
  errors_text = "<ul>";
  for (i = 0; i < result.errors.length; i++) {
    errors_text += "<li><span class='glyphicon glyphicon-warning-sign'></span>" + result.errors[i] + "</li>";
  }
  errors_text += "</ul>";
  $("#password_errors").html(errors_text)
  
  totalTests= result.failedTests.length + result.passedTests.length + 1

  isPassphrase = ((result.isPassphrase==true) ? 1 : 0);

  strengthbar.value = parseFloat((result.passedTests.length+isPassphrase)/totalTests*100);
  if (strengthbar.value>75){
    strengthbar.style.setProperty("--c", "green");
  }
  else if (strengthbar.value>=62.5){
    strengthbar.style.setProperty("--c", "yellowgreen");
  }
  else if (strengthbar.value>=50){
    strengthbar.style.setProperty("--c", "yellow");
  }
  else if (strengthbar.value>=37.5){
    strengthbar.style.setProperty("--c", "orange");
  }
  else{
    strengthbar.style.setProperty("--c", "red");
  }              
  if (result.errors.length==0){
    $("#passwordcheck").attr('value', 'true');
    $("#passwordcheck").prop('checked', true);
  }
  else{
    
    $("#passwordcheck").attr('value', 'false');
    $("#passwordcheck").prop('checked', false);
  }
  if (result.isPassphrase==true){
    $("#passphrasecheck").attr('value', 'true');
    $("#passphrasecheck").prop('checked', true);
  }
  else{
    
    $("#passphrasecheck").attr('value', 'false');
    $("#passphrasecheck").prop('checked', false);

  }

  var hashed_password = CryptoJS.SHA1(code.value);     
        
  $.ajax({
    type:"GET",
    dataType:"text",
    async: false,
    url: "https://api.pwnedpasswords.com/range/"+ CryptoJS.enc.Hex.stringify(hashed_password).toUpperCase().substring(0,5),
    success: function(data) {
      if (data.includes(CryptoJS.enc.Hex.stringify(hashed_password).toUpperCase().slice(5))){
        
        $("#passwordcheck").attr('value', 'false');
        $("#passwordcheck").prop('checked', false);
        $("#password_errors").html("<ul><li style='color:red'>Password is pwned, try a different one</li></ul>")
      } 
    },
    error: function(jqXHR, textStatus, errorThrown){
      alert(textStatus);
    }
  });
  
});

document.getElementById("id_password2").addEventListener("keyup", function() {
  if (this.value == document.getElementById("id_password1").value){
    document.getElementById("submitbutton").disabled=false
  }
  else{
    document.getElementById("submitbutton").disabled=true
    document.getElementById("hint_id_password2").innerHTML="New passwords dont match"
  }
})
        
  
</script>
