<div class="modal fade" id="modalchangepassword"  role="dialog" aria-labelledby="modalchangepassword" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">      
                <h4 class="modal-title" id="modaliphostslabel">Change Password:</h4>
            </div>
            <form role="form" method="post" action="{% url 'modify_password' %}" class="js-password-change-form">
                {% csrf_token %}             
                <div class="modal-body">
                  <div id="div_id_old_password" class="form-group {% if form.old_password.errors %} has-error{% endif %}">
                      <label for="id_old_password" class="control-label requiredField">Old Password<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="old_password" class="textinput textInput form-control" required="" id="id_old_password" autocomplete="off">
                          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                          {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                              <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                          {% else %}
                          {% endif %}
                      </div>
                  </div>
                  <div id="div_id_new_password1" class="form-group {% if form.new_password1.errors %} has-error{% endif %}">
                      <label for="id_new_password1" class="control-label requiredField">New Password<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="new_password1" class="textinput textInput form-control" minlength="8"  required="" id="id_new_password1" autocomplete="off" minlength="12" maxlength="128">
                          <progress max="100" value="0" id="meter"></progress><div id="security_level"></div>                
                          <div class="wrapper">
                            <button class="btn btn-default" id="check_password">Check password existency</button>
                            <div id="pass_msg"><p id="check_password_message" ></p></div>
                            <div>Is it an non-existing password?:<input type="checkbox" id="passwordcheck" value="false" required="required" onclick="return false;"/> (Click on Check Password Existency)</div>
                          </div>                         
                          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                          
                          <p id="hint_id_new_password1" class="help-block"></p><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul><p></p>
                      </div>
                  </div>
                  <div id="div_id_new_password2" class="form-group {% if form.new_password2.errors %} has-error{% endif %}">
                      <label for="id_new_password2" class="control-label  requiredField">New Password confirmation<span class="asteriskField">*</span> </label>
                      <div class="form-group has-feedback">
                          <input type="password" name="new_password2" class="textinput textInput form-control" required="" id="id_new_password2" autocomplete="off" minlength="12" maxlength="128">
                          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                          {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                              <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                          {% else %}
                            <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p>
                          {% endif %}
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary js-password-change-button">Change My Password</button>
                </div>
              </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var code = document.getElementById("id_new_password1");
    
    var strengthbar = document.getElementById("meter");
    var security_level = document.getElementById("security_level");
    
    code.addEventListener("keyup", function() {
      checkpassword(code.value);
    });
    
    
    function checkpassword(password) {
      var strength = 0;
      if (password.match(/[a-z]+/)) {
        strength += 1;
      }
      if (password.match(/[A-Z]+/)) {
        strength += 1;
      }
      if (password.match(/[0-9]+/)) {
        strength += 1;
      }
      if (password.match(/[$@#&!]+/)) {
        strength += 1;
    
      }
    
      if (password.length < 12) {
        security_level.innerHTML = "Minimum number of characters is 12";
        strengthbar.value = 0;
      }
      else {
      switch (strength) {
        case 0:
          strengthbar.value = 0;
          security_level.innerHTML= "Security Level: None"
          break;
    
        case 1:
          strengthbar.value = 25;
          security_level.innerHTML= "Security Level: Very Low"
          break;
    
        case 2:
          strengthbar.value = 50;
          security_level.innerHTML= "Security Level: Low"
          break;
    
        case 3:
          strengthbar.value = 75;
          security_level.innerHTML= "Security Level: Medium"
          break;
    
        case 4:
        security_level.innerHTML= "Security Level: High"
          strengthbar.value = 100;
          break;
      }
      }
      
    }
    
    $('#id_new_password1').keyup(function(){
      $("#passwordcheck").attr('value', 'false');
      $("#passwordcheck").prop('checked', false); 
    });
    
  $('#check_password').click(function() {
    var hashed_password= CryptoJS.SHA1(code.value);

    $.ajax({
    type:"GET",
    url: "https://exposed.notrust.eu/v1/hash/"+ hashed_password,
    beforeSend: function(xhr) {
      xhr.setRequestHeader( 'accept','application/json')
      xhr.setRequestHeader('X-eXposed-APIKey', '8fdd8329-f769-448f-92f6-c39ebd2f17bc');
    },
    success: function(data) {
      if (data == 0){
        $("#passwordcheck").attr('value', 'true');
        $("#passwordcheck").prop('checked', true);
        $("#check_password_message").html("<h5> No match found </h5>")
      }
      else{
        $("#passwordcheck").attr('value', 'false');
        $("#passwordcheck").prop('checked', false);
        $("#check_password_message").html("<h5> Match found </h5>")
      }
    
      
    },
    contentType : "application/json"
    });
  })
    
</script>