{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'img/logoicon.png' %}" />
  <title>OWASP Application Security Verification Standard (ASVS) 4.0.3</title>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <style>
    @font-face {
      font-family: SantanderTextW05-Bold;
      src: url("{% static 'fonts/SantanderTextW05-Bold.woff' %}" ) format("woff");
    }
    @font-face {
      font-family: SantanderTextW05-Regular;
      src: url("{% static 'fonts/SantanderTextW05-Regular.woff' %}" ) format("woff");
    }

  </style>
    
</head>

<body>
  <div id="wrapper">
  <nav class="navbar navbar-default">
    {% if not user.is_authenticated or user.is_two_factor_enabled %}
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'img/logoicon.png' %}" alt="OWASP Logo" style="margin-right: inherit;" width="34" height="34">OWASP Application Security Verification Standard (ASVS)
            4.0.3</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="levels">Levels
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="levels">
                  <a class="dropdown-item" href="{% url 'level' level=1 %}">Level 1</a>
                  <a class="dropdown-item " href="{% url 'level' level=2 %}">Level 2</a>
                  <a class="dropdown-item " href="{% url 'level' level=3 %}">Level 3</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="help">Help
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="help">
                  <a class="dropdown-item" href="{% url 'help' category=1 %}">Architecture, design and threat modelling</a>
                  <a class="dropdown-item" href="{% url 'help' category=2 %}">Authentication</a>
                  <a class="dropdown-item" href="{% url 'help' category=3 %}">Session management</a>
                  <a class="dropdown-item" href="{% url 'help' category=4 %}">Access control</a>
                  <a class="dropdown-item" href="{% url 'help' category=5 %}">Malicious input handling</a>
                  <a class="dropdown-item" href="{% url 'help' category=7 %}">Cryptography at rest</a>
                  <a class="dropdown-item" href="{% url 'help' category=8 %}">Error handling and logging</a>
                  <a class="dropdown-item" href="{% url 'help' category=9 %}">Data protection</a>
                  <a class="dropdown-item" href="{% url 'help' category=10 %}">Communications</a>
                  <a class="dropdown-item" href="{% url 'help' category=11 %}">HTTP security configuration</a>
                  <a class="dropdown-item" href="{% url 'help' category=13 %}">Malicious controls</a>
                  <a class="dropdown-item" href="{% url 'help' category=15 %}">Business logic</a>
                  <a class="dropdown-item" href="{% url 'help' category=16 %}">File and resources</a>
                  <a class="dropdown-item" href="{% url 'help' category=17 %}">Mobile</a>
                  <a class="dropdown-item" href="{% url 'help' category=18 %}">Web services</a>
                  <a class="dropdown-item" href="{% url 'help' category=19 %}">configuration</a>
                </div>
              </li>
              {% if user.is_authenticated and user.is_two_factor_enabled %}
              <li class="nav-item"> 
                <a class="nav-link" href="{% url 'projectsmanage' %}">Projects</a>
              </li>   
              {% endif %}     
              {% if user.is_authenticated and not user.is_two_factor_enabled %}  
              <li class="nav-item"> 
                <a class="nav-link" href="{% url 'login' %}">2FA Autenticate</a>
              </li>   
              {% endif %}     

            </ul>
          </div>
          <div class="navbar-custom-menu" style="float:right">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              {% if user.is_authenticated %}
              <li class="dropdown user user-menu">
                <!-- Show profile page -->
                <a class="nav-link" href="/auth/profile">Profile</a>
              </li>
              <li class="dropdown user user-menu">
                <!-- Show profile page -->
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>

              {% else %}
              <li class="navbar-nav">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              {% endif %}
              <li><a class="nav-link" id="dark_mode"><i  class="fas fa-moon" onclick="darkMode()"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->

    </div> 
    {% else %} 
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <div class="navbar-brand"><img src="{% static 'img/logoicon.png' %}" alt="OWASP Logo" style="margin-right: inherit;" width="34" height="34">OWASP Application Security Verification Standard (ASVS) 4.0.3</div>
          <div class="collapse navbar-collapse" id="navbarResponsive"></div>
          <div class="navbar-custom-menu" style="float:right">
          <ul class="nav navbar-nav">
              <!-- User Account Menu -->
          {% if user.is_authenticated %}
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>

          {% endif %}
          </ul>
          </div>  
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div> 
    {% endif %}

    <!-- /.container-fluid -->
  </nav>
  <div id="html_body">
  {% block content %} {% endblock content %}
  </div>
  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js "
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js "
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ "
    crossorigin="anonymous "></script>
    <script>
  
      var settings = loadSettings();
      var background = localStorage.getItem("settings.background");
      var html_body= document.getElementById("html_body")
      var cardbodies= document.getElementsByClassName("card-body")
      if (background==="white"){
        html_body.style.background="white"
        html_body.style.color="black"
        for (r in cardbodies){
          if(cardbodies[r].style){
            cardbodies[r].style.background="white"
          }
        }
        document.getElementById("dark_mode").innerHTML="<i  class='fas fa-moon' onclick='darkMode()'></i>"
        localStorage.setItem("settings.background", "white");
      }
      else{
        html_body.style.background="rgb(25, 39, 52)"
        html_body.style.color="white"
        for (r in cardbodies){
          if(cardbodies[r].style){
            cardbodies[r].style.background="#F0F0F0"
          }
        }
        document.getElementById("dark_mode").innerHTML="<i  class='fas fa-sun' onclick='darkMode()'></i>"
        localStorage.setItem("settings.background", "dark");
      }
      
    
    
    function darkMode(){
      var background = localStorage.getItem("settings.background");
      var html_body= document.getElementById("html_body")
      var cardbodies= document.getElementsByClassName("card-body")
      if (background==="dark"){
        html_body.style.background="white"
        html_body.style.color="black"
        for (r in cardbodies){
          if(cardbodies[r].style){
            cardbodies[r].style.background="white"
          }
        }
        document.getElementById("dark_mode").innerHTML="<i  class='fas fa-moon' onclick='darkMode()'></i>"
        localStorage.setItem("settings.background", "white");
      }
      else{
        html_body.style.background="rgb(25, 39, 52)"
        html_body.style.color="white"
        for (r in cardbodies){
          if(cardbodies[r].style){
            cardbodies[r].style.background="#F0F0F0"
          }
        }
        document.getElementById("dark_mode").innerHTML="<i  class='fas fa-sun' onclick='darkMode()'></i>"
        localStorage.setItem("settings.background", "dark");
      }
    }
    
    function loadSettings() {
      var background = localStorage.getItem("settings.background");
    
      return { background: background }
    }  
    </script>
  {% endblock script %}
  </div>
  </div>
</div>
</body>

</html>
