{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
   <br>
   <br>
    <div class="row">
        <div class="card" style="width: 60rem;">


            <div class="card-body" style="margin:auto">
                <p class="card-text">
                    <strong>Successfully Verified</strong>
                    <br>
                </p>
                
            </div>
           
        </div>
    </div>
</div>
<script>

window.setTimeout(function(){

    window.location.href = "/projects/manage";

}, 2000);

</script>
{% endblock content %}