{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="navbars">
                    <br><h3>Hello {{ user.username }}</h3> </h2>
            </div>
        </div>
    </div>
    <div class="row">
    {% include "modals/modal_change_password.html" %}
    {% include "modals/modal_change_username.html" %}
        <div class="col-lg-12">
            
            <h4>Projects {{ user.username }} is allowed to watch: </h4>
            <table id="case-results" class="table table-bordered dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projects %}
                    <tr>
                        <td>{{ p.project_created }}</td>
                        <td>{{ p.project_name }}</td>
                        <td>{{ p.project_description }}</td>
                        <td>{{ p.project_level }} </td>
                        <td>
                            {% if not p.project_owner == user.username %}
                            <a href="{% url 'removefromproject' projectid=p.id %}" title="Remove User from Project">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>

            <pre>{{ userdata }}</pre>

            <button style="margin-bottom: 30px; text-align: center;" class="btn js-change-password" id="changepassword" title="Change Password" >Change Password</button>
            <button style="margin-bottom: 30px; text-align: center;" class="btn js-change-username" id="changeusername" title="Change Username" >Change Username</button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".js-change-password").click(function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#modalchangepassword").modal("show");
                },
                success: function (data) {
                $("#modalchangepassword .modal-content").html(data.html_form);
                
                }
            });
        });

        $(".js-change-username").click(function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#modalchangeusername").modal("show");
                },
                success: function (data) {
                $("#modalchangeusername .modal-content").html(data.html_form);
                
                }
            });
        });
    });

    
</script>
{% endblock %}