{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="navbars">
                        <br>User Registration </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8" style="margin-left:auto;margin-right:auto;">
                <div class="bs-component">
                    <div class="card border-primary mb-3" style="max-width: 40rem;">
                        <div class="card-header">Create a new user account</div>
                        <div class="card-body">
                            <form role="form" method="post" action="{% url 'signup' %}" class="js-register-account-form">
                                {% csrf_token %}
                              
                                
                                <div class="modal-body">
                                    <div id="div_id_first_name" class="form-group">
                                        <label for="username" class="control-label  requiredField">Username<span class="asteriskField">*</span></label>
                                        <div class="form-group has-feedback">
                                            <input type="text" name="username" maxlength="30" class="textinput textInput form-control" required="" id="id_first_name" value="{{form.username.value|default_if_none:}}"">
                                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                            <p id="hint_id_first_name" class="help-block">Enter Username</p>
                                        </div>
                                    </div>
                              
                              
                                    <div id="div_id_password1" class="form-group {% if form.password1.errors %} has-error{% endif %}">
                                        <label for="id_password1" class="control-label requiredField">Password<span class="asteriskField">*</span> </label>
                                        <div class="form-group has-feedback">
                                            <input type="password" name="password1" class="textinput textInput form-control" required="" id="id_password1" minlength="10" maxlength="128">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                              
                                              Security password Level:  
                                            <progress max="100" value="0" id="meter"></progress><div id="security_level"></div>  
                                            <div>Is it a valid password?<span class="asteriskField">*</span><input type="checkbox" id="passwordcheck" value="false" required="required" onclick="return false;"/></div>
                                            <div>Is it a passphrase?<input type="checkbox" id="passphrasecheck" value="false"  onclick="return false;"/></div>
                                            <div class="wrapper" id="password_errors">                                              
                                            <p id="hint_id_password1" class="help-block"></p><ul><li>We don't advise using personal information</li><li>Passphrases are amazing (and easy to remember too)</li><li>We check to see if your password has already been cracked (via password breaches)</li><li>Use a different passphrase for every site.</li></ul><p></p>
                                            </div>     

                                        </div>
                                    </div>
                              
                                    <div id="div_id_password2" class="form-group {% if form.password2.errors %} has-error{% endif %}">
                                        <label for="id_password2" class="control-label  requiredField">Password confirmation<span class="asteriskField">*</span> </label>
                                        <div class="form-group has-feedback">
                                            <input type="password" name="password2" class="textinput textInput form-control" required="" id="id_password2" minlength="12" maxlength="128">
                                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                            {% if form.password2.errors %}
                                              {% for error in form.password2.errors %}
                                                <p class="help-block text-danger">{{ error }}</p>
                                              {% endfor %}
                                            {% else %}
                                              <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                              
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary js-register-account-button">Register</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/nowsecure/owasp-password-strength-test/master/owasp-password-strength-test.js"></script>
    <script>
        var code = document.getElementById("id_password1");
        
        var strengthbar = document.getElementById("meter");
        var security_level = document.getElementById("security_level");
        
        code.addEventListener("keyup", function() {
        var result = owaspPasswordStrengthTest.test(code.value);
        errors_text = "<ul>";
        for (i = 0; i < result.errors.length; i++) {
          errors_text += "<li><span class='glyphicon glyphicon-warning-sign'></span>" + result.errors[i] + "</li>";
        }
        errors_text += "</ul>";
        $("#password_errors").html(errors_text)
        
        totalTests= result.failedTests.length + result.passedTests.length + 1

        isPassphrase = ((result.isPassphrase==true) ? 1 : 0);

        strengthbar.value = parseFloat((result.passedTests.length+isPassphrase)/totalTests*100);
        if (strengthbar.value>75){
          strengthbar.style.setProperty("--c", "green");
        }
        else if (strengthbar.value>=62.5){
          strengthbar.style.setProperty("--c", "yellowgreen");
        }
        else if (strengthbar.value>=50){
          strengthbar.style.setProperty("--c", "yellow");
        }
        else if (strengthbar.value>=37.5){
          strengthbar.style.setProperty("--c", "orange");
        }
        else{
          strengthbar.style.setProperty("--c", "red");
        }              
        if (result.errors.length==0){
          $("#passwordcheck").attr('value', 'true');
          $("#passwordcheck").prop('checked', true);
        }
        else{
          
          $("#passwordcheck").attr('value', 'false');
          $("#passwordcheck").prop('checked', false);
        }
        if (result.isPassphrase==true){
          $("#passphrasecheck").attr('value', 'true');
          $("#passphrasecheck").prop('checked', true);
        }
        else{
          
          $("#passphrasecheck").attr('value', 'false');
          $("#passphrasecheck").prop('checked', false);
  
        }
        var hashed_password = CryptoJS.SHA1(code.value);     

        //We use Troy Hunts HIBP API to check the quality of the password.
        //https://haveibeenpwned.com/API/v3#PwnedPasswords
        
        $.ajax({
          type:"GET",
          dataType:"text",
          async: false,
          cors: true ,
          secure:true,
          url: "https://api.pwnedpasswords.com/range/"+ CryptoJS.enc.Hex.stringify(hashed_password).toUpperCase().substring(0,5),
          success: function(data) {
            if (data.includes(CryptoJS.enc.Hex.stringify(hashed_password).toUpperCase().slice(5))){
              
              $("#passwordcheck").attr('value', 'false');
              $("#passwordcheck").prop('checked', false);
              $("#password_errors").html("<ul><li style='color:red'>Oh no, your chosen password is already known, try a different one</li></ul>")
            } 
          },
          error: function(jqXHR, textStatus, errorThrown){
            alert(textStatus);
          }
        });
      });
      
        
    </script>
    {% endblock %}